<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>商品列表</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3.3.2/dist/vue-loading.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <loading :active.sync="isLoading"></loading>

        <!-- 產品列表 -->
        <div class="row">
          <div
            class="col-4 mt-3"
            v-for="item in products"
            :key="item.id"
            v-cloak
          >
            <div class="card">
              <img :src="item.imageUrl[0]" class="card-img-top" alt="" />
              <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">
                  {{item.content}}
                </p>
                <div
                  class="d-flex justify-content-between align-items-baseline"
                >
                  <del class="h5">原價 {{item.origin_price}}</del>
                  <p class="h3">售價 {{item.price}}</p>
                </div>
              </div>
              <div
                class="card-footer text-muted d-flex justify-content-between"
              >
                <a href="#" class="btn btn-outline-secondary">詳細資料</a>
                <a
                  href="#"
                  class="btn btn-primary"
                  @click.prevent="addToCart(item)"
                  >加入購物車</a
                >
              </div>
            </div>
          </div>
        </div>

        <!-- 購物車 -->
        <div class="row justify-content-center mt-4">
          <div class="col-8">
            <div class="text-right">
              <button
                type="button"
                class="btn btn-outline-danger"
                @click="delAllCartItem"
              >
                刪除所有品項
              </button>
            </div>
            <table class="table mt-3">
              <thead>
                <tr>
                  <th scope="col">品名</th>
                  <th scope="col" width="120px" class="text-center">數量</th>
                  <th scope="col">價格</th>
                  <th scope="col">移除</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in cart" :key="item.product.id">
                  <th scope="row">{{item.product.title}}</th>
                  <td>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <button
                          class="btn btn-outline-success btn-sm"
                          type="button"
                        >
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <input type="text" class="form-control" value="1" />
                      <div class="input-group-prepend">
                        <button
                          class="btn btn-outline-success btn-sm"
                          type="button"
                        >
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>
                    </div>
                  </td>
                  <td>{{item.product.price}}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-outline-danger btn-sm"
                      @click="delOneCartItem(item.product.id)"
                    >
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- 表單驗證 -->
        <div class="row justify-content-center mt-4">
          <validation-observer v-slot="{invalid}" tag="div" class="col-6">
            <form @submit="createOrder">
              <!-- 姓名 -->
              <div class="form-group">
                <validation-provider rules="required" v-slot="{errors,classes}">
                  <label for="username">收件人姓名</label>
                  <input
                    type="text"
                    class="form-control"
                    :class="classes"
                    id="username"
                    name="收件人姓名"
                    aria-describedby="username"
                    placeholder="請輸入收件人姓名"
                    v-model="form.name"
                  />
                  <span class="text-danger"> {{errors[0]}} </span>
                </validation-provider>
              </div>
              <!-- email -->
              <div class="form-group">
                <validation-provider
                  rules="required|email"
                  v-slot="{errors,classes}"
                >
                  <label for="email">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    :class="classes"
                    id="email"
                    name="電子郵件"
                    aria-describedby="email"
                    placeholder="請輸入email"
                    v-model="form.email"
                  />
                  <span class="text-danger"> {{errors[0]}} </span>
                </validation-provider>
              </div>
              <!-- 電話 -->
              <div class="form-group">
                <validation-provider
                  rules="required|min:8|numeric"
                  v-slot="{errors,classes}"
                >
                  <label for="tel">電話</label>
                  <input
                    type="tel"
                    class="form-control"
                    :class="classes"
                    id="tel"
                    name="電話"
                    aria-describedby="tel"
                    placeholder="請輸入電話"
                    v-model="form.tel"
                  />
                  <span class="text-danger"> {{errors[0]}} </span>
                </validation-provider>
              </div>
              <!-- 地址 -->
              <div class="form-group">
                <validation-provider rules="required" v-slot="{errors,classes}">
                  <label for="address">地址</label>
                  <input
                    type="text"
                    class="form-control"
                    :class="classes"
                    id="address"
                    name="地址"
                    aria-describedby="address"
                    placeholder="請輸入收件地址"
                    v-model="form.address"
                  />
                  <span class="text-danger"> {{errors[0]}} </span>
                </validation-provider>
              </div>
              <!-- 付款方式 -->
              <div class="form-group">
                <validation-provider rules="required" v-slot="{errors,classes}">
                  <label for="payment">付款方式</label>
                  <select
                    name="付款方式"
                    id="payment"
                    class="form-control"
                    :class="classes"
                    v-model="form.payment"
                  >
                    <option value="" disabled>請選擇付款方式</option>
                    <option value="WebATM">WebATM</option>
                    <option value="ATM">ATM</option>
                    <option value="Barcode">Barcode</option>
                    <option value="Credit">Credit</option>
                    <option value="ApplePay">ApplePay</option>
                    <option value="GooglePay">GooglePay</option>
                  </select>
                  <span class="text-danger"> {{errors[0]}} </span>
                </validation-provider>
              </div>
              <!-- 留言 -->
              <div class="form-group">
                <label for="message">留言</label>
                <textarea
                  name="message"
                  id="message"
                  class="form-control"
                  cols="30"
                  rows="3"
                  placeholder="非必要"
                  v-model="form.message"
                ></textarea>
              </div>
              <div class="text-right">
                <button
                  type="submit"
                  class="btn btn-primary"
                  :disabled="invalid"
                >
                  送出
                </button>
              </div>
            </form>
          </validation-observer>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3.3.2/dist/vue-loading.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.3.0/vee-validate.full.min.js"></script>

    <script type="module">
      import zh from "./zh_tw.js";

      // 增加驗證樣式
      VeeValidate.configure({
        classes: {
          valid: "is-valid",
          invalid: "is-invalid",
        },
      });

      // 載入中文錯誤提示
      VeeValidate.localize("tw", zh);

      Vue.component("loading", VueLoading);
      // input 驗證
      Vue.component("validation-provider", VeeValidate.ValidationProvider);
      // form 驗證
      Vue.component("validation-observer", VeeValidate.ValidationObserver);

      new Vue({
        el: "#app",
        data: {
          uuid: "069602ae-7e90-4b68-ab74-eede1d9ee78e",
          apiPath: "https://course-ec-api.hexschool.io/",
          products: [],
          cart: [],
          isLoading: false,
          form: {
            name: "",
            email: "",
            tel: "",
            address: "",
            payment: "",
            message: "",
          },
        },
        created() {
          this.getProducts();
          this.getCart();
        },
        methods: {
          getProducts() {
            this.isLoading = true;
            const api = `${this.apiPath}api/${this.uuid}/ec/products`;
            axios.get(api).then((res) => {
              this.products = res.data.data;
              this.isLoading = false;
            });
          },
          getCart() {
            this.isLoading = true;
            const api = `${this.apiPath}api/${this.uuid}/ec/shopping`;
            axios.get(api).then((res) => {
              this.cart = res.data.data;
              this.isLoading = false;
            });
          },
          addToCart(item, quantity = 1) {
            const api = `${this.apiPath}api/${this.uuid}/ec/shopping`;
            const cart = {
              product: item.id,
              quantity,
            };
            axios
              .post(api, cart)
              .then((res) => {
                this.getCart();
              })
              .catch((err) => {
                console.log(err.response.data.errors);
                alert(err.response.data.errors);
              });
          },
          delAllCartItem() {
            const api = `${this.apiPath}api/${this.uuid}/ec/shopping/all/product`;
            axios
              .delete(api)
              .then((res) => {
                this.getCart();
              })
              .catch((err) => {
                console.log(err);
              });
          },
          delOneCartItem(id) {
            const api = `${this.apiPath}api/${this.uuid}/ec/shopping/${id}`;
            axios
              .delete(api)
              .then((res) => {
                this.getCart();
              })
              .catch((err) => {
                console.log(err);
              });
          },
          createOrder() {
            this.isLoading = true;
            const api = `${this.apiPath}api/${this.uuid}/ec/orders`;
            axios
              .post(api, this.form)
              .then((res) => {
                console.log(res);
                this.getCart();
              })
              .catch((err) => {
                console.log(err);
              });
          },
        },
      });
    </script>
  </body>
</html>
